<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blaise – Office for National Statistics</title>
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/favicon-32x32.png"
          sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/favicon-16x16.png"
          sizes="16x16">
    <link rel="mask-icon" color="#5bbad5"
          href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/safari-pinned-tab.svg">
    <link rel="apple-touch-icon" type="image/png"
          href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/favicons/manifest.json">
    <link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/design-system/31.4.0/css/main.css">
</head>
<body>
<header class="header header--internal" role="banner">
    <div class="header__top">
        <div class="container">
            <div class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap ">
                <div class="grid__col col-auto">
                    <a class="header__logo-link" href="/">
                        <picture>
                            <source media="(max-width: 499px)"
                                    srcset="https://ons-design-system.netlify.app/img/ons-logo-stacked-neg-en.svg"
                                    alt="Office for National Statistics logo">
                            <img class="header__logo"
                                 src="https://ons-design-system.netlify.app/img/ons-logo-neg-en.svg"
                                 alt="Office for National Statistics logo">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap">
                <div class="grid__col col-auto u-flex-shrink">
                    <div class="header__title">Blaise</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page__container container" id="main-content">
    <main id="page-main-content" class="page__main ">
        <h1>Blaise</h1>
        <div class="container">
            <div class="grid grid--column@xxs@s">
                <div class="grid__col col-6@m">
                    <div class="card" aria-labelledBy="tobi" aria-describedBy="tobi-text">
                        <h3 class="u-fs-m" id="tobi">
                            <a href="<%= TOBI_URL %>">Telephone Operations Blaise Interface</a>
                        </h3>
                        <p id="tobi-text">Access CATI dashboard and active surveys.</p>
                    </div>
                </div>
                <div class="grid__col col-6@m">
                    <div class="card" aria-labelledBy="dqs" aria-describedBy="dqs-text">
                        <h3 class="u-fs-m" id="dqs">
                            <a href="<%= DQS_URL %>">Deploy Questionnaire Service</a>
                        </h3>
                        <p id="dqs-text">Deploy and manage installed questionnaires in Blaise.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
